<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style="background-color: black; color: white;">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Promo VideoCards</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#advantages">Преимущества</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#choice-video-cards">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#how-to-buy">Как купить</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-5">

    <!--Заголовок страницы-->
    <div class="row">
        <div class="col-6 mx-auto mt-5">
            <div class="col-12 text-center">
                <h1>Распродажа самых современных видеокарт</h1>
            </div>
            <div class="col-12 text-center">
                <h3>Скидка до 70% на всю линейку!</h3>
            </div>
        </div>
    </div>

    <!--Кратко о видюхах-->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-c.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="color: black;">Название видеокарты, ГБ, цена</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color: black;">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-c.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="color: black;">Название видеокарты, ГБ, цена</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color: black;">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-c.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="color: black;">Название видеокарты, ГБ, цена</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color: black;">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-c.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="color: black;">Название видеокарты, ГБ, цена</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color: black;">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-c.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="color: black;">Название видеокарты, ГБ, цена</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color: black;">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--Преимущества-->
    <div class="row" id="advantages">
        <div class="col-6 mx-auto mt-5">
            <div class="col-12 text-center">
                <h1>Преимущества</h1>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <img src="https://svgshare.com/i/T0K.svg" style="width:100px;">
            <h4>Скидка до 50%</h4>
        </div>
        <div class="col text-center">
            <img src="https://svgshare.com/i/Szp.svg" style="width:100px;">
            <h4>Оплата после получения</h4>
        </div>
        <div class="col text-center">
            <img src="https://svgshare.com/i/Syw.svg" style="width:100px;">
            <h4>Доставка по СНГ до 3-ёх дней с момента заказа</h4>
        </div>
        <div class="col text-center">
            <img src="https://svgshare.com/i/T01.svg" style="width:100px;">
            <h4>Прямые поставки с заводов производителя</h4>
        </div>


    </div>

    <!--Выберите видеокарту-->
    <div class="row mt-5" id="choice-video-cards">
        <div class="col-6 mx-auto">
            <div class="col-12 text-center">
                <h1>Выберите видеокарту</h1>
            </div>
        </div>
    </div>

    <!--Подробности о видеокартах-->
    <div class="row mt-5">
        <!--Фото-->
        <div class="col">
            <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-b-641-u.jpg"
                 class="d-block w-100" alt="...">

<!--            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">-->
<!--                <div class="carousel-inner">-->
<!--                    <div class="carousel-item active">-->
<!--                        <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-b-641-u.jpg"-->
<!--                             class="d-block w-100" alt="...">-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-b-641-u.jpg"-->
<!--                             class="d-block w-100" alt="...">-->
<!--                    </div>-->
<!--                    <div class="carousel-item">-->
<!--                        <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/geforce-rtx-turing/2080-ti/gallery/geforce-rtx-2080-ti-gallery-b-641-u.jpg"-->
<!--                             class="d-block w-100" alt="...">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Previous</span>-->
<!--                </a>-->
<!--                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Next</span>-->
<!--                </a>-->
<!--            </div> -->
        </div>
        <!--Информация-->
        <div class="col">
            <table class="table" style="color: white">
                <thead class="table-dark">
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!--Как купить-->

    <div class="row mt-5" id="how-to-buy">
        <div class="col-6 mx-auto">
            <div class="col-12 text-center">
                <h1>Как купить?</h1>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="row">
            <div class="col text-center">
                <img src="https://svgshare.com/i/Syd.svg"
                     style="width:100px;">
                <h4>Выбираете видеокарту</h4>
            </div>
            <div class="col text-center">
                <img src="https://svgshare.com/i/Sxv.svg"
                     style="width:100px;">
                <h4>Оставляете заявку на сайте</h4>
            </div>
            <div class="col text-center">
                <img src="https://svgshare.com/i/T02.svg"
                     style="width:100px;">
                <h4>Наш менеджер свяжется с Вами, уточняет детали заказа</h4>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="https://svgshare.com/i/T0C.svg"
                     style="width:100px;">
                <h4>Доставляем в любую точку России и СНГ</h4>
            </div>
            <div class="col text-center">
                <img src="https://svgshare.com/i/Szp.svg"
                     style="width:100px;">
                <h4>Оплачиваете при получении</h4>
            </div>
            <div class="col text-center">
                <img src="https://svgshare.com/i/Szq.svg"
                     style="width:100px;">
                <h4>Вы довольны покупкой</h4>
            </div>
        </div>




    </div>

    <!--Подвал-->
    <footer class="pt-4 my-md-5 pt-md-5 border-top" id="footer">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
                <small class="d-block mb-3 text-muted">© 2017-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary" href="#">Random feature</a></li>
                    <li><a class="link-secondary" href="#">Team feature</a></li>
                    <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                    <li><a class="link-secondary" href="#">Another one</a></li>
                    <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Resource</a></li>
                    <li><a class="link-secondary" href="#">Resource name</a></li>
                    <li><a class="link-secondary" href="#">Another resource</a></li>
                    <li><a class="link-secondary" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Team</a></li>
                    <li><a class="link-secondary" href="#">Locations</a></li>
                    <li><a class="link-secondary" href="#">Privacy</a></li>
                    <li><a class="link-secondary" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

</body>
</html>